<div class="row">
    <div class="col s12 blue-text flow-text">
        <h1 class="hide-on-small-only">BUSDE- Buscador de Diagnóstico de Enfermagem</h1>
    </div>
</div>


<div class="row">
    <div class="col s12 blue-text flow-text">
        <h2>Busque seu diagnóstico agora!</h2>
        <p class="black-text">Faça uma busca em nosso banco de dados e encontre o diagnóstico que procura</p>
<%= link_to "Diagnósticos",diagnosticos_path, class: "btn-large blue" %>
    </div>
</div>

          <div class="carousel carousel-slider">
            <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
            <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
            <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
            <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
          </div>      

<div class="row">
    <div class="col s12">
        <h3 class="blue-text"> Sobre o Projeto</h3>
    </div>
</div>
<div class="row">
    <div class="col s12 flow-text">
        <p>
O estudo teve como objetivo desenvolver um software que auxiliará 
na atribuição de diagnósticos de enfermagem pelo enfermeiro e 
descrever todas as etapas de seu desenvolvimento. Tratou-se de um 
estudo descritivo das fases de desenvolvimento do software, sendo 
utilizado método de desenvolvimento em cascata, respeitando os 
requisitos de confidencialidade dos dados. O desenvolvimento 
resultou em um aplicativo web para pesquisa de diagnósticos de 
enfermagem disponibilizado gratuitamente e com suporte para 
atualizações futuras.

</p>
    </div>
</div>




<script>
    $('.carousel.carousel-slider').carousel({
    fullWidth: true,
    indicators: true,
    duration: 20
  });
  autoplay();
function autoplay() {
    $('.carousel').carousel('next');
    setTimeout(autoplay, 4500);
}
</script>