@import "materialize";
@import "material_icons";
@import "jquery-ui";

/*
 *= require jquery-ui
 */
 
body {
    background-color: white;
    color: black;
}

.elmt{
    padding: 15%;
    
}
.nome{
    display: none;
}
.definicao{
display: none;
}

.roundead{
    border-radius: 25px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

th{
    font-size: 2rem;
}
