 <footer class="page-footer blue blue lighten-2">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">BUSDE</h5>
                <p class="grey-text text-lighten-4">O BUSDE é uma ferramenta útil e eficiente para facilitar e 
otimizar o processo de atribuição de Diagnósticos de Enfermagem 
da NANDA-I</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul class="white-text">
        <li><%= link_to "Diagnósticos",   diagnosticos_path %></li>
        <li><%= link_to "Fatores",   fators_path %></li>
        <li><%= link_to "Caracteristicas",   caracteristicas_path %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            2018
            <a class="grey-text text-lighten-4 right" href="http://www.github.com/rafacava/">Desenvolvedor</a>
            </div>
          </div>
        </footer>
            